/closed/
16.0/
15.0/
*.tlog
*.iobj
*.ipdb
*.pdb
*.obj
*.ipch
*.suo
*.db*
*.dll
*.recipe
*.exp
*.lib
*.log
*.exe
*.ilk
*.sbr
*.user
*.opendb
*.vcxproj.user
**/.vs/
core/include/SprUseClosedSrcOrNot.h
*.i
*.hpp
*Stub.cpp
*.makefile
**/__pycache__/
core/src/RunSwig/tmp/
**/Debug/
**/Release/
**/Trace/
